html
{
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body
{
    text-align: center;
    background: url("../Videos/Index/Pu34.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 0px 50px 0px 50px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body main > .cajamain0
{
    display: inline-grid;
}

body main .cajamain0 > .temporadaMain
{
    text-decoration: none;
    font-family: ordenador;
    color: #01b5cc;
    -webkit-text-stroke: 0.6px #b4df24;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    background-color: #333300;
    border: #ffff00 1px solid;
    border-radius: 7px;
    display: inline-grid;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #ffff00, inset 0px 0px 20px #ffff00;
    font-size: 20px;
}

body main .cajamain0 > .numeroMain
{
    text-decoration: none;
    font-family: ordenador;
    color: #01b5cc;
    -webkit-text-stroke: 0.6px #b4df24;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    background-color: #333300;
    border: #ffff00 1px solid;
    border-radius: 7px;
    display: inline-grid;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #ffff00, inset 0px 0px 20px #ffff00;
    font-size: 20px;
}

body main .cajamain0 > .tituloMain
{
    text-decoration: none;
    font-family: ordenador;
    color: #01b5cc;
    -webkit-text-stroke: 0.6px #b4df24;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    background-color: #333300;
    border: #ffff00 1px solid;
    border-radius: 7px;
    display: inline-grid;
    padding: 10px;
    box-shadow: 0px 0px 10px #ffff00, inset 0px 0px 20px #ffff00;
    font-size: 20px;
}

body main > .cajamain1
{
    border: 1px #3AFF00 solid;
    border-radius: 7px;
    background-color: #071D00;
    display: inline-grid;
    text-align: center;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    box-shadow: 0px 0px 10px #3AFF00, inset 0px 0px 20px #3AFF00;
    margin-bottom: 20px;
    margin-top: 50px;
}

body main .cajamain1 > a
{
    text-align: center;
    text-decoration: none;
    font-family: ordenador;
    color: #01b5cc;
    -webkit-text-stroke: 0.6px #b4df24;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    background: #330000;
    border: red solid 1px;
    border-radius: 7px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0px 0px 10px #990000, inset 0px 0px 20px #990000;
}

body > .menu
{
    border: 1px #ff33ff solid;
    border-radius: 7px;
    background-color: #330033;
    display: inline-grid;
    text-align: left;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    padding: 10px;
    box-shadow: 0px 0px 10px #ff33ff, inset 0px 0px 20px #ff33ff;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .menu > a
{
    text-decoration: none;
    font-family: ordenador;
    color: black;
    color: #01b5cc;
    -webkit-text-stroke: 0.6px #b4df24;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

@font-face 
{
    font-family: ordenador;
    font-style: normal;
    font-weight: normal;
    src: url(../TiposDeLetra/highland-gothic/HighlandGothicFLF-Bold.ttf);
}