/* 
    Created on : 19 jul 2022, 15:11:39
    Author     : xxxdd
*/

html
{
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

.anuncio
{
    position: fixed;
    display: grid;
    font-family: ordenador;
    bottom: 5px;
    left: 5px;
    z-index:9;
}

.anuncio iframe
{
    width: 400px;
}

body
{
    background: url("../Videos/Index/1.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0% 10% 0% 10%;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body > header
{
    background-color: transparent;
}

body header .titulo
{
    background-image: url("../Imagenes/Index/rickymortytitulo2.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 80px 80px 80px 80px;
    transition: 0.3s;
    transform: rotate(0deg);

}

body header .titulo:active
{
    background-image: url("../Imagenes/Index/RickMortyTitulo2.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 80px 80px 80px 80px;
    transition: 0.3s;
    transform: rotate(360deg);
}

body .navpadre
{
    border: #0000ff solid 1px;
    border-radius: 7px;
/*    background-color: #000033;*/
    background: url("../Videos/Index/23.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 0px 10px #0000ff, inset 0px 0px 20px #0000ff;
    margin-bottom: 10px;
}

body .navpadre nav
{
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

body .navpadre nav a
{
    text-decoration: none;
    font-family: ordenador;
    font-size: 16px;
    color: #01b5cc;
    -webkit-text-stroke: 0.7px #b4df24;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .navpadre nav a .caja1_1, .caja1_2, .caja1_3
{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

body .navpadre nav a .caja1_1 .caja2_1
{
    padding: 20px 20px 20px 20px;
    background-image: url(../Imagenes/Index/pistoladeportales.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

body .navpadre nav a:hover .caja1_1 .caja2_1
{
    padding: 20px 20px 20px 20px;
    background-image: url(../Imagenes/Index/portalinerdimensional2.gif);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

body .navpadre nav a .caja1_2 .caja2_2
{
    padding: 20px 55px 20px 20px;
    background-image: url(../Imagenes/Index/pistoladeportales.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

body .navpadre nav a:hover .caja1_2 .caja2_2
{
    padding: 20px 55px 20px 20px;
    background-image: url(../Imagenes/Index/portalinerdimensional2.gif);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

body .navpadre nav a .caja1_3 .caja2_3
{
    padding: 20px 55px 20px 20px;
    background-image: url(../Imagenes/Index/pistoladeportales.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

body .navpadre nav a:hover .caja1_3 .caja2_3
{
    padding: 20px 55px 20px 20px;
    background-image: url(../Imagenes/Index/portalinerdimensional2.gif);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

body article
{
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    max-width: 500px;
    min-width: 200px;
    border-radius: 7px;
    background: url("../Videos/Index/23f.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #071D00;
    border: 1px solid #3AFF00;
    box-shadow: 0px 0px 10px #3AFF00, inset 0px 0px 20px #3AFF00;
}

body article .art2 > label
{
    border-radius: 5px 0px 7px 0px;
    padding: 3px 3px 3px 3px;
    background-color: #3AFF00;
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: black;
    -webkit-text-stroke: 0.0px black;
    font-weight: bold;
    font-family: ordenador;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body article .art3 > label 
{
    padding: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    font-size: 15px;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
    font-family: ordenador2
}

body main .fotos > .foto1
{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 122px;
/*    background-image: url(../Imagenes/Index/rickcabeza.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;*/
    background: url("../Videos/Index/23f.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #004443;
    
    border: 1px #96d6d5 solid;
    
    box-shadow: 0px 0px 10px #96d6d5, inset 0px 0px 20px #96d6d5;
    transition: 0.3s;
}

body main .fotos > .foto2
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 122px;
/*    background-image: url(../Imagenes/Index/mortycabeza.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;*/
    background: url("../Videos/Index/23f.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #484600;
    
    border: 1px #FDF96A solid;
    
    box-shadow: 0px 0px 10px #FDF96A, inset 0px 0px 20px #FDF96A;
    transition: 0.3s;
}

body main .fotos .foto1 > img
{
   vertical-align: middle;
   width: 105px;
   height: 120px;
}

body main .fotos .foto2 > img
{
   vertical-align: middle;
   width: 90px;
   height: 95px;
}

body main .cajamain2
{
/*    border: 3px orange solid;*/
    display:flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

body main > section > label
{
    color: black;
    -webkit-text-stroke: 0.0px black;
    font-weight: bold;
    font-size: 17px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body .nav2
{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

body .nav2 .caja4
{
    padding: 30px 30px 30px 30px;
    background-image: url(../Imagenes/Index/rickriendo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

body .nav2 .caja4:hover
{
    transition: 0.2s;
    background-image: url(../Imagenes/Index/rickgifrotando.gif);
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .nav2 a .caja3 > label
{
    text-align: center;
    display: block;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    margin-left: 30px;
    margin-right: 30px;
}

body .nav2 .caja6
{
    padding: 30px 30px 30px 30px;
    background-image: url(../Imagenes/Index/rickextrañado.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

body .nav2 .caja6:hover
{
    transition: 0.2s;
    background-image: url(../Imagenes/Index/rickgifrotando.gif);
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .nav2 a .caja5 > label
{
    text-align: center;
    display: block;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    margin-left: 30px;
    margin-right: 30px;
}

body .nav2 .caja8
{
    padding: 30px 30px 30px 30px;
    background-image: url(../Imagenes/Index/rickenmalestado.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

body .nav2 .caja8:hover
{
    transition: 0.2s;
    background-image: url(../Imagenes/Index/rickgifrotando.gif);
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .nav2 a .caja7 > label
{
    text-align: center;
    text-decoration: none;
    display: block;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    margin-left: 30px;
    margin-right: 30px;
}

body .nav2 > a
{
    text-decoration: none;
}

body main > section
{
    background-color: #ff00cc;
    border-radius: 5px 0px 5px 0px;
    padding: 5px;
    
    display: inline-grid;
}

body main section > label
{
    font-family: ordenador;
    
}

body main
{
    border: 1px #ff00cc solid;
    border-radius: 7px;
    background-color: transparent;
    color: #01b5cc;
    background: url("../Videos/Index/23f.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #290031;
    box-shadow: 0px 0px 10px #ff00cc, inset 0px 0px 20px #ff00cc;
    margin-top: 10px;
}

body main > label
{
    border: 3px solid blue;
    position: relative;
    display: inline-block;
}

body footer
{
    border: #ffff00 solid 1px;
    border-radius: 7px;
    background: url("../Videos/Index/23f.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #292a00;
    text-align: center;
    
    box-shadow: 0px 0px 10px #ffff00, inset 0px 0px 20px #ffff00;
    margin-top: 10px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer1
{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer1 > label
{
    color: white;
    font-size: 13px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2
{
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 > label
{
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
    border-left: white solid 1px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 .cajafooter1
{
    display: inline-flex;
    align-items: center;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 .cajafooter1 > label
{
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
    border-left: white solid 1px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 .cajafooter1 .logoanucio
{
    padding: 6px 6px 6px 6px;
    background-image: url(../Imagenes/Index/logoanuncios.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 3px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer3 > label
{
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 10px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

/*@media only screen and (min-width: 768px) 
{
   For desktop: 
  
}*/

@media only screen and (min-width: 600px) 
{
  /* For tablets: */
  
}

@media only screen and (max-width: 630px)
{
    /* moviles */
    
    .anuncio iframe
    {
        width: 220px;
        height: 80px;
    }

    body
    {
        padding: 0px 10px 0px 10px;
    }

    body header .titulo
    {
        background-image: url("../Imagenes/Index/rickymortytitulo2.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 60px 60px 60px 60px;
        transition: 0.3s;
        transform: rotate(0deg);

    }

    body header .titulo:active
    {
        background-image: url("../Imagenes/Index/RickMortyTitulo2.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 60px 60px 60px 60px;
        transition: 0.3s;
        transform: rotate(360deg);
    }

    body .navpadre nav a
    {
        text-decoration: none;
        font-family: ordenador;
        font-size: 13px;
        color: #01b5cc;
        -webkit-text-stroke: 0.7px #b4df24;
    }

    body .navpadre nav a .caja1_1, .caja1_2, .caja1_3
    {
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    body .nav2 .caja4
    {
        padding: 27px 27px 27px 27px;
        background-image: url(../Imagenes/Index/rickriendo.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s;
    }

    body .nav2 .caja4:hover
    {
        transition: 0.2s;
        background-image: url(../Imagenes/Index/rickgifrotando.gif);
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    }

    body .nav2 a .caja3 > label
    {
        text-align: center;
        font-size: 13px;
        display: block;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        font-family: ordenador;
        margin-left: 15px;
        margin-right: 15px;
    }

    body .nav2 .caja6
    {
        padding: 27px 27px 27px 27px;
        background-image: url(../Imagenes/Index/rickextrañado.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s;
    }

    body .nav2 .caja6:hover
    {
        transition: 0.2s;
        background-image: url(../Imagenes/Index/rickgifrotando.gif);
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    }

    body .nav2 a .caja5 > label
    {
        text-align: center;
        font-size: 13px;
        display: block;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        font-family: ordenador;
        margin-left: 15px;
        margin-right: 15px;
    }

    body .nav2 .caja8
    {
        padding: 27px 27px 27px 27px;
        background-image: url(../Imagenes/Index/rickenmalestado.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s;
    }

    body .nav2 .caja8:hover
    {
        transition: 0.2s;
        background-image: url(../Imagenes/Index/rickgifrotando.gif);
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    }

    body .nav2 a .caja7 > label
    {
        text-align: center;
        font-size: 13px;
        text-decoration: none;
        display: block;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        font-family: ordenador;
        margin-left: 15px;
        margin-right: 15px;
    }

    body main .cajamain2
    {
        /*    border: 3px orange solid;*/
        display: inline-block;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    
    body main > section > label
    {
        color: black;
        -webkit-text-stroke: 0px black;
        font-weight: bold;
        font-size: 15px;
        cursor: url(../Imagenes/Index/cursordefecto.png), default;
    }
    
    body article .art2 > label
    {
        border-radius: 5px 0px 7px 0px;
        padding: 3px 3px 3px 3px;
        background-color: #3AFF00;
        position: relative;
        display: inline-block;
        font-size: 12px;
        color: black;
        -webkit-text-stroke: 0px black;
        font-weight: bold;
        font-family: ordenador;
        cursor: url(../Imagenes/Index/cursordefecto.png), default;
    }
    
    body article .art3 > label
    {
        padding: 10px 10px 10px 10px;
        position: relative;
        display: inline-block;
        font-size: 12px;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursordefecto.png"), default;
        font-family: ordenador2
    }
    
    body article
    {
        border-radius: 7px;
        background-color: #071D00;
        border: 1px solid #3AFF00;
        margin: 10px 10px 10px 10px;
        box-shadow: 0px 0px 10px #3AFF00, inset 0px 0px 20px #3AFF00;

    }
    
    body .fotos
    {

        justify-content: center;
        position: relative;
        align-items: center;
        display: flex;
/*        border: 3px #0000ff solid;*/
    }
    
    body main .fotos > .foto1
    {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        /*    background-image: url(../Imagenes/Index/rickcabeza.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;*/
        background-color: #004443;

        border: 1px #96d6d5 solid;

        box-shadow: 0px 0px 10px #96d6d5, inset 0px 0px 20px #96d6d5;
        transition: 0.3s;
    }

    body main .fotos > .foto2
    {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        /*    background-image: url(../Imagenes/Index/mortycabeza.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;*/
        background-color: #484600;

        border: 1px #FDF96A solid;

        box-shadow: 0px 0px 10px #FDF96A, inset 0px 0px 20px #FDF96A;
        transition: 0.3s;
    }

    body main .fotos .foto1 > img
    {
        vertical-align: middle;
        width: 75px;
        height: 85px;
    }

    body main .fotos .foto2 > img
    {
        vertical-align: middle;
        width: 65px;
        height: 70px;
    }

}

@font-face 
{
    font-family: ordenador;
    font-style: normal;
    font-weight: normal;
    src: url(../TiposDeLetra/highland-gothic/HighlandGothicFLF-Bold.ttf);
}

@font-face 
{
    font-family: ordenador2;
    font-style: normal;
    font-weight: normal;
    src: url(../TiposDeLetra/ibm-plex-mono/IBMPlexMono-Medium.ttf);
}

