/* 
    Created on : 19 jul 2022, 15:11:39
    Author     : xxxdd
*/

*
{
    margin: 0;
    padding: 0;
}

html
{
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
    
}

body
{
    background: url("../Videos/Index/fondomatrix.gif");
/*    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    padding: 0px 50px 0px 50px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body > header
{
    background-color: transparent;
}

body header .titulo
{
    background-image: url("../Imagenes/Index/rickymortytitulo2.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 80px 80px 80px 80px;
    transition: 0.3s;
    transform: rotate(0deg);

}

body header .titulo:active
{
    background-image: url("../Imagenes/Index/RickMortyTitulo2.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 80px 80px 80px 80px;
    transition: 0.3s;
    transform: rotate(360deg);
}

body .navpadre
{
    border: #0000ff solid 1px;
    border-radius: 7px;
    background-color: #000033;
    box-shadow: 0px 0px 10px #0000ff, inset 0px 0px 20px #0000ff;
    margin-bottom: 10px;
}

body .navpadre nav
{
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

body .navpadre nav > a
{
    text-decoration: none;
}

body .navpadre nav a .caja1 > .caja2
{
    padding: 20px 20px 20px 20px;
    background-image: url(../Imagenes/Index/pistoladeportales.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
    display: inline-block;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    border-bottom: 2px transparent solid;
}

body .navpadre nav a .caja1 > .caja2:hover
{
    padding: 20px 20px 20px 20px;
    background-image: url("../Imagenes/Index/portalinerdimensional2.gif");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

body .navpadre nav a > .caja1
{
    text-align: center;
    display: inline-grid;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 7.5px;
/*    border: #3AFF00 1px solid;*/
}

body .navpadre nav a .caja1 > label
{
    text-align: center;
    display: block;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
}

body .navpadre nav a .caja1 .caja2 > label 
{
    text-decoration: none;
}

body main .cajamain2
{
    border: 3px orange solid;
    display: flex;
}

body .nav2
{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

body .nav2 .caja4
{
    padding: 30px 30px 30px 30px;
    background-image: url(../Imagenes/Index/rickriendo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

body .nav2 .caja4:hover
{
    transition: 0.2s;
    background-image: url(../Imagenes/Index/rickgifrotando.gif);
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .nav2 a .caja3 > label
{
    text-align: center;
    display: block;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    margin-left: 30px;
    margin-right: 30px;
}

body .nav2 .caja6
{
    padding: 30px 30px 30px 30px;
    background-image: url(../Imagenes/Index/rickextrañado.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

body .nav2 .caja6:hover
{
    transition: 0.2s;
    background-image: url(../Imagenes/Index/rickgifrotando.gif);
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .nav2 a .caja5 > label
{
    text-align: center;
    display: block;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    margin-left: 30px;
    margin-right: 30px;
}

body .nav2 .caja8
{
    padding: 30px 30px 30px 30px;
    background-image: url(../Imagenes/Index/rickenmalestado.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

body .nav2 .caja8:hover
{
    transition: 0.2s;
    background-image: url(../Imagenes/Index/rickgifrotando.gif);
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .nav2 a .caja7 > label
{
    text-align: center;
    text-decoration: none;
    display: block;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    margin-left: 30px;
    margin-right: 30px;
}

body .nav2 > a
{
    text-decoration: none;
}

body main .articulopadre
{

    text-align: center;
    display: block;
    margin: auto;
    margin-top: 32px;
    box-sizing: border-box;
}

body main .articulopadre > .articulopadre1
{
/*    border: 1px #0000ff solid;*/
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

body main .articulopadre > .articulopadre2
{
/*    border: 2px #ffff00 solid;*/
    display: block;
    position: relative;
    font-size: 0;
}


body main .articulopadre .articulopadre2 > .videoW
{
    border: 1px #ff9700 solid;
    background-color: #251600;
    box-shadow: 0px 0px 10px #ff9700, inset 0px 0px 20px #ff9700;
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body main .articulopadre > a
{
    border: 1px #ff9700 solid;
    background-color: #251600;
    box-shadow: 0px 0px 10px #ff9700, inset 0px 0px 20px #ff9700;
    border-radius: 7px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    width: 150px;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    font-family: ordenador;
    text-align: center;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body main .articulopadre .articulopadre2 .videoW > iframe
{
    border-radius: 7px;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body main .articulopadre .articulopadre1 > .articulo1
{
    border: red solid 1px;
    border-radius: 7px;
    background-color: #330000;
    box-shadow: 0px 0px 10px red, inset 0px 0px 20px red;
    display: inline-block;
    text-align: left;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 15px;
    overflow: auto;
}

body main .articulopadre .articulopadre1 > .articulo1_foto1
{
/*    border: #ffff00 2px solid;*/
    margin-top: 10px;
    display: inline-block;
    font-size: 0;
}

body main .articulopadre .articulopadre1 .articulo1_foto1 > img
{
    border: #3AFF00 solid 1px;
    border-radius: 7px;
    text-align: left;
    box-shadow: 0px 0px 10px #3AFF00, inset 0px 0px 20px #3AFF00;
    margin-left: 30px;
    margin-right: 15px;
    
}

body main .articulopadre .articulopadre1 .articulo1 > .articulo1_contenido
{
    margin: 10px;
}

body main .articulopadre .articulopadre1 .articulo1 .articulo1_contenido > label
{
    font-size: 14px;
    -webkit-text-stroke: 0.7px #b4df24;
    color: #01b5cc;
    font-family: ordenador2;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body main > .titulo2
{
    float: left;
}

body main .titulo2 > label
{
    border-radius: 5px 0px 7px 0px;
    background-color: #3fe09d;
    color: black;
    font-family: ordenador;
    padding: 5px;
    float: left;
}

body main .articulopadre .articulopadre1 .articulo1 .articulo1_titulo1 > label
{
    border-radius: 5px 0px 7px 0px;
    background-color: red;
    display: inline-grid;
    padding: 5px;
    color: black;
    font-family: ordenador;
}

body main
{
    border: 1px #3fe09d solid;
    border-radius: 7px;
    background-color: transparent;
    color: #01b5cc;
    background-color: #001e15;
    box-shadow: 0px 0px 10px #3fe09d, inset 0px 0px 20px #3fe09d;
    margin-top: 10px;
    text-align: center;
    display: block;
}

body main > label
{
    border: 3px solid blue;
    position: relative;
    display: inline-block;
}

body footer
{
    border: #ffff00 solid 1px;
    border-radius: 7px;
    background-color: #161600;
    text-align: center;
    
    box-shadow: 0px 0px 10px #ffff00, inset 0px 0px 20px #ffff00;
    margin-top: 10px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer1
{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer1 > label
{
    color: white;
    font-size: 13px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2
{
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 > label
{
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
    border-left: white solid 1px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 .cajafooter1
{
    display: inline-flex;
    align-items: center;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 .cajafooter1 > label
{
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
    border-left: white solid 1px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer2 .cajafooter1 .logoanucio
{
    padding: 6px 6px 6px 6px;
    background-image: url(../Imagenes/Index/logoanuncios.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 3px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body footer .footer3 > label
{
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 10px;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

/*@media only screen and (min-width: 768px) 
{
   For desktop: 
  
}*/

@media only screen and (min-width: 600px) 
{
  /* For tablets: */
  
}

@media only screen and (max-width: 480px)
{
    /* moviles */

    body
    {
        padding: 0px 10px 0px 10px;
    }

    body header .titulo
    {
        background-image: url("../Imagenes/Index/rickymortytitulo2.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 60px 60px 60px 60px;
        transition: 0.3s;
        transform: rotate(0deg);

    }

    body header .titulo:active
    {
        background-image: url("../Imagenes/Index/RickMortyTitulo2.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 60px 60px 60px 60px;
        transition: 0.3s;
        transform: rotate(360deg);
    }

    
    body .navpadre nav a .caja1 > .caja2
    {
        padding: 18px 18px 18px 18px;
        background-image: url(../Imagenes/Index/pistoladeportales.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.3s;
        display: inline-block;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        border-bottom: 2px transparent solid;
    }

    body .navpadre nav a .caja1 > .caja2:hover
    {
        padding: 18px 18px 18px 18px;
        background-image: url("../Imagenes/Index/portalinerdimensional2.gif");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.3s;
    }
    
    body .navpadre nav a .caja1 > label
    {
        text-align: center;
        font-size: 13px;
        display: block;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        font-family: ordenador;
    }

    body .nav2 .caja4
    {
        padding: 27px 27px 27px 27px;
        background-image: url(../Imagenes/Index/rickriendo.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s;
    }

    body .nav2 .caja4:hover
    {
        transition: 0.2s;
        background-image: url(../Imagenes/Index/rickgifrotando.gif);
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    }

    body .nav2 a .caja3 > label
    {
        text-align: center;
        font-size: 13px;
        display: block;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        font-family: ordenador;
        margin-left: 15px;
        margin-right: 15px;
    }

    body .nav2 .caja6
    {
        padding: 27px 27px 27px 27px;
        background-image: url(../Imagenes/Index/rickextrañado.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s;
    }

    body .nav2 .caja6:hover
    {
        transition: 0.2s;
        background-image: url(../Imagenes/Index/rickgifrotando.gif);
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    }

    body .nav2 a .caja5 > label
    {
        text-align: center;
        font-size: 13px;
        display: block;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        font-family: ordenador;
        margin-left: 15px;
        margin-right: 15px;
    }

    body .nav2 .caja8
    {
        padding: 27px 27px 27px 27px;
        background-image: url(../Imagenes/Index/rickenmalestado.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.2s;
    }

    body .nav2 .caja8:hover
    {
        transition: 0.2s;
        background-image: url(../Imagenes/Index/rickgifrotando.gif);
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    }

    body .nav2 a .caja7 > label
    {
        text-align: center;
        font-size: 13px;
        text-decoration: none;
        display: block;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursorhover.ico"), default;
        font-family: ordenador;
        margin-left: 15px;
        margin-right: 15px;
    }

    body main .cajamain2
    {
        /*    border: 3px orange solid;*/
        display: inline-block;
    }
    
    body main > section > label
    {
        color: black;
        -webkit-text-stroke: 0px black;
        font-weight: bold;
        font-size: 15px;
        cursor: url(../Imagenes/Index/cursordefecto.png), default;
    }
    
    body article .art2 > label
    {
        border-radius: 5px 0px 7px 0px;
        padding: 3px 3px 3px 3px;
        background-color: #3AFF00;
        position: relative;
        display: inline-block;
        font-size: 12px;
        color: black;
        -webkit-text-stroke: 0px black;
        font-weight: bold;
        font-family: ordenador;
        cursor: url(../Imagenes/Index/cursordefecto.png), default;
    }
    
    body article .art3 > label
    {
        padding: 10px 10px 10px 10px;
        position: relative;
        display: inline-block;
        font-size: 12px;
        -webkit-text-stroke: 0.7px #b4df24;
        color: #01b5cc;
        cursor: url("../Imagenes/Index/cursordefecto.png"), default;
        font-family: ordenador2
    }
    
    body article
    {
        border-radius: 7px;
        background-color: #071D00;
        border: 1px solid #3AFF00;
        margin: 10px 10px 10px 10px;
        box-shadow: 0px 0px 10px #3AFF00, inset 0px 0px 20px #3AFF00;

    }

}

@media only screen and (max-width: 880px)
{
    body main .articulopadre > .articulopadre1
    {
        /*        border: 1px #0000ff solid;*/
        display: inline-block;

    }


}

@font-face 
{
    font-family: ordenador;
    font-style: normal;
    font-weight: normal;
    src: url(../TiposDeLetra/highland-gothic/HighlandGothicFLF-Bold.ttf);
}

@font-face 
{
    font-family: ordenador2;
    font-style: normal;
    font-weight: normal;
    src: url(../TiposDeLetra/ibm-plex-mono/IBMPlexMono-Medium.ttf);
}

