html
{
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body
{
    text-align: center;
    background-color: black;
    cursor: url("../Imagenes/Index/cursordefecto.png"), default;
}

body main .cajamain1
{
    border: 1px #3AFF00 solid;
    border-radius: 7px;
    background-color: #071D00;
    display: inline-grid;
    text-align: left;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 50px;
    box-shadow: 0px 0px 10px #3AFF00, inset 0px 0px 20px #3AFF00;
}


body main .cajamain1 > .previsualizacion1:hover
{
    background-size: 400px;
    transition: 0.5s;
}

body main .cajamain1 > label:nth-child(1)
{
    border-radius: 7px 7px 0px 0px;
    background-color: #3AFF00;
    display: inline-grid;
    font-size: 18px;
    color: black;
    padding: 5px;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    text-align: center;
}

body main .cajamain1 > label:nth-child(2)
{
    border-radius: 0px 0px 7px 7px;
    background-color: #3AFF00;
    display: inline-grid;
    font-size: 18px;
    color: black;
    padding: 5px;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
    text-align: center;
}


body main .cajamain1 .tituloEpisodio > label
{
    border-radius: 7px 0px 5px 0px;
    background-color: #3AFF00;
    display: inline-grid;
    float: right;
    font-size: 18px;
    color: black;
    padding: 5px;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    font-family: ordenador;
}

body > .menu
{
    border: 1px #ff33ff solid;
    border-radius: 7px;
    background-color: #330033;
    display: inline-grid;
    text-align: left;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
    padding: 10px;
    box-shadow: 0px 0px 10px #ff33ff, inset 0px 0px 20px #ff33ff;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

body .menu > a
{
    text-decoration: none;
    font-family: ordenador;
    color: black;
    color: #01b5cc;
    -webkit-text-stroke: 0.4px #b4df24;
    cursor: url("../Imagenes/Index/cursorhover.ico"), default;
}

@font-face 
{
    font-family: ordenador;
    font-style: normal;
    font-weight: normal;
    src: url(../TiposDeLetra/highland-gothic/HighlandGothicFLF-Bold.ttf);
}